body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s ease;
    background-color: #66D3FA;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
    font-size: 18px;
    margin-bottom: 20px;
}

select,
button,
input {
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    padding: 4px 6px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    outline: none;
    height: 26px;
}

button {
    padding: 6px 16px;
    border-radius: 3.2px;
    cursor: pointer;
    border: none;
    background-color: #66D3FA;
}

.dark-mode-switch {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}

.font-size-switch {
    display: flex;
    gap: 12px;
    align-items: center;
}